.DS_Store

# ----------- HelloWindow ------------
# User-specific stuff
HelloWindow/.idea/**/workspace.xml
HelloWindow/.idea/**/tasks.xml
HelloWindow/.idea/**/usage.statistics.xml
HelloWindow/.idea/**/dictionaries
HelloWindow/.idea/**/shelf
HelloWindow/.idea/**/contentModel.xml
# Cmake
HelloWindow/cmake-build-*/
# MacOS 
HelloWindow/.DS_Store

# ----------- HelloTriangle ------------
# User-specific stuff
HelloTriangle/.idea/**/workspace.xml
HelloTriangle/.idea/**/tasks.xml
HelloTriangle/.idea/**/usage.statistics.xml
HelloTriangle/.idea/**/dictionaries
HelloTriangle/.idea/**/shelf
HelloTriangle/.idea/**/contentModel.xml
# Cmake
HelloTriangle/cmake-build-*/
# MacOS 
HelloTriangle/.DS_Store


# ----------- Shaders ------------
# User-specific stuff
Shaders/.idea/**/workspace.xml
Shaders/.idea/**/tasks.xml
Shaders/.idea/**/usage.statistics.xml
Shaders/.idea/**/dictionaries
Shaders/.idea/**/shelf
Shaders/.idea/**/contentModel.xml
# Cmake
Shaders/cmake-build-*/
# MacOS 
Shaders/.DS_Store


# ----------- LBM ------------
# User-specific stuff
LBM/.idea/**/workspace.xml
LBM/.idea/**/tasks.xml
LBM/.idea/**/usage.statistics.xml
LBM/.idea/**/dictionaries
LBM/.idea/**/shelf
LBM/.idea/**/contentModel.xml
# Cmake
LBM/cmake-build-*/
# MacOS 
LBM/.DS_Store


# ----------- Textures ------------
# User-specific stuff
Textures/.idea/**/workspace.xml
Textures/.idea/**/tasks.xml
Textures/.idea/**/usage.statistics.xml
Textures/.idea/**/dictionaries
Textures/.idea/**/shelf
Textures/.idea/**/contentModel.xml
# Cmake
Textures/cmake-build-*/
# MacOS 
Textures/.DS_Store


# --------- LBM_VS -----------------
# Build results
LBM_VS/gpuProj_vs2022/[Dd]ebug/
LBM_VS/gpuProj_vs2022/[Dd]ebugPublic/
LBM_VS/gpuProj_vs2022/[Rr]elease/
LBM_VS/gpuProj_vs2022/[Rr]eleases/
LBM_VS/gpuProj_vs2022/x64/
LBM_VS/gpuProj_vs2022/x86/
LBM_VS/gpuProj_vs2022/[Ww][Ii][Nn]32/
LBM_VS/gpuProj_vs2022/[Aa][Rr][Mm]/
LBM_VS/gpuProj_vs2022/[Aa][Rr][Mm]64/
LBM_VS/gpuProj_vs2022/bld/
LBM_VS/gpuProj_vs2022/[Bb]in/
LBM_VS/gpuProj_vs2022/[Oo]bj/
LBM_VS/gpuProj_vs2022/[Ll]og/
LBM_VS/gpuProj_vs2022/[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
LBM_VS/.vs/